@tailwind base;
@keyframes pulse {
  50% {
      opacity: .5;
  }
}

[aria-current="page"] {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}
.with-hover {
  color: red;
}
.with-hover:hover {
  color: blue;
}
.animate-pulse {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
      font-family: 'sahel';
      src:url(./fonts/Sahel.ttf) format('truetype'); 
      
  }
  @font-face {
      font-family: 'sahelBold';
      src:url(./fonts/Sahel-Bold.ttf) format('truetype'); 
      
  }
  @font-face {
    font-family: 'khameneiiRegular';
    src:url(./fonts/KHAMENEIIRREGULAR.TTF) format('truetype'); 
    
  }
  @font-face {
  font-family: 'khameneiiBlack';
  src:url(./fonts/KHAMENEIIRBLACK.TTF) format('truetype'); 
  
  }
  @font-face {
    font-family: 'khameneiiBold';
    src:url(./fonts/KHAMENEIIRBOLD.TTF) format('truetype'); 
    
    }
  

}


:where(.css-dev-only-do-not-override-7py20b).ant-collapse-borderless >.ant-collapse-item:last-child .ant-collapse-header {
  /* border-radius: 0; */
  margin: 0px ;
  padding: 0px;
  padding-left: 1rem/* 16px */;
  padding-right: 1rem/* 16px */;

  
}

:where(.css-dev-only-do-not-override-7py20b).ant-card .ant-card-body {
  padding: 5px;
 
}

:where(.css-dev-only-do-not-override-16muavx).ant-input-affix-wrapper >input.ant-input {
    padding: 0;
    border: none;
    border-radius: 0 !important;
    outline: none;
    height: 30px !important;
}


:where(.css-dev-only-do-not-override-7py20b).ant-layout .ant-layout-header, :where(.css-dev-only-do-not-override-7py20b).ant-layout.ant-layout-footer {
  flex: 0 0 auto;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  display: none; 
}



/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

